@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Bold.eot');
    src: url('../fonts/BarlowCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-Bold.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Bold.woff') format('woff'),
        url('../fonts/BarlowCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-BlackItalic.eot');
    src: url('../fonts/BarlowCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-BlackItalic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-BlackItalic.woff') format('woff'),
        url('../fonts/BarlowCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Black.eot');
    src: url('../fonts/BarlowCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-Black.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Black.woff') format('woff'),
        url('../fonts/BarlowCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Light.eot');
    src: url('../fonts/BarlowCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-Light.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Light.woff') format('woff'),
        url('../fonts/BarlowCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-BoldItalic.eot');
    src: url('../fonts/BarlowCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-BoldItalic.woff') format('woff'),
        url('../fonts/BarlowCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Italic.eot');
    src: url('../fonts/BarlowCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-Italic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Italic.woff') format('woff'),
        url('../fonts/BarlowCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-ExtraBold.eot');
    src: url('../fonts/BarlowCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-ExtraBold.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-ExtraBold.woff') format('woff'),
        url('../fonts/BarlowCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-ExtraBoldItalic.eot');
    src: url('../fonts/BarlowCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/BarlowCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-ExtraLight.eot');
    src: url('../fonts/BarlowCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-ExtraLight.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-ExtraLight.woff') format('woff'),
        url('../fonts/BarlowCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-ExtraLightItalic.eot');
    src: url('../fonts/BarlowCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-ExtraLightItalic.woff') format('woff'),
        url('../fonts/BarlowCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Medium.eot');
    src: url('../fonts/BarlowCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-Medium.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Medium.woff') format('woff'),
        url('../fonts/BarlowCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-LightItalic.eot');
    src: url('../fonts/BarlowCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-LightItalic.woff') format('woff'),
        url('../fonts/BarlowCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-MediumItalic.eot');
    src: url('../fonts/BarlowCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-MediumItalic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-MediumItalic.woff') format('woff'),
        url('../fonts/BarlowCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-SemiBold.eot');
    src: url('../fonts/BarlowCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-SemiBold.woff') format('woff'),
        url('../fonts/BarlowCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-SemiBoldItalic.eot');
    src: url('../fonts/BarlowCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-SemiBoldItalic.woff') format('woff'),
        url('../fonts/BarlowCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Regular.eot');
    src: url('../fonts/BarlowCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-Regular.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Regular.woff') format('woff'),
        url('../fonts/BarlowCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-ThinItalic.eot');
    src: url('../fonts/BarlowCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-ThinItalic.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-ThinItalic.woff') format('woff'),
        url('../fonts/BarlowCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../fonts/BarlowCondensed-Thin.eot');
    src: url('../fonts/BarlowCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BarlowCondensed-Thin.woff2') format('woff2'),
        url('../fonts/BarlowCondensed-Thin.woff') format('woff'),
        url('../fonts/BarlowCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

