* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed";
}

:root {
  --primary: #ec3d08;
  --security: #ffb936;
  --white: #ffffff;
  --black: #000000;
  --bg-color: #f4f1ea;
  --p: #979797;
}

h1,
.h1 {
  font-size: 130px;
  line-height: 0.9;
  font-weight: 600;
}
h2,
.h2 {
  font-size: 70px;
  line-height: 1;
}
h3,
.h3 {
  font-size: 28px;
  line-height: 1.2;
}
h4,
.h4 {
  font-size: 20px;
  line-height: 1;
}
h5,
.h5 {
  font-size: 18px;
  line-height: 1;
}
h6,
.h6 {
  font-size: 16px;
  line-height: 1;
}
p .p {
  font-size: 18px;
  line-height: 1;
}

.richtext:has(p) {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--p);
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding-inline: 16px;
}

.btn {
  text-transform: uppercase;
  padding: 18px 36px;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.88;
  display: inline-flex;
  border-radius: 4px;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.btn svg {
  rotate: -90deg;
  transition: all 0.5s ease-in-out;
}

.btn-primary ,.btn-security {
  position: relative;
  background-color: var(--primary);
  color: var(--white);
  z-index: 1;
}
.btn-security{
  background-color: var(--security);
}
.btn-primary:hover svg,.btn-security:hover svg{
  rotate: 0deg;
}
.btn-primary::after,.btn-security::after,
.btn-primary::before ,.btn-security::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 50%;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  background-color: var(--security);
}
.btn-primary::after,.btn-security::after {
  top: 0;
  left: 100%;
  right: 0;
  width: 100%;
}
.btn-primary::before,.btn-security::before {
  bottom: 0;
  right: 100%;
  width: 100%;
}

.btn-primary:hover::after,.btn-security:hover::after{
  left: 0;
}
.btn-primary:hover::before ,.btn-security:hover::before {
  right: 0;
}
.btn-security::after,.btn-security::before{
  background-color: var(--black);
}
header {
  padding: 30px 0;
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
}
.header-change {
  background-color: var(--black);
  box-shadow: 0px 15px 10px -15px var(--white);
}
.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--white);
  line-height: 1.9;
}
.menu-svg {
  transition: all 0.4s ease-in-out;
  width: 16px;
  height: 20px;
}

.menu-name {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 0.8;
}

.contacts-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-number {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-call {
  height: 20px;
  color: var(--security);
}
.header-search {
  color: var(--white);
}
.toggle-menu {
  color: var(--white);
  border-radius: 4px;
}
.menu-close svg {
  width: 20px;
  color: var(--black);
}
.dropdown {
  position: relative;
}
.dropdown-div {
  display: none;
  position: absolute;
  top: 80%;
}
.dropdown-menu {
  padding: 10px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  width: 180px;
  background-color: var(--white);
}

/* .menu-list:hover .dropdown-menu {
  visibility: visible;
  height: fit-content;
} */

.dropdown-name {
  text-transform: uppercase;
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 0.8;
}
.dropdown-list {
  list-style: none;
}
/* hero-sec */
.sec-padding {
  padding: 100px 0;
}
.hero-sec {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  height: 100vh;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-sec .container {
  height: 100%;
}
.hero-flex {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}
.hero-items {
  width: 50%;
}
.hero-img {
  width: 50%;
}
.title-sec {
  color: var(--security);
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.hero-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white);
}
.hero-pizza-img {
  width: 100%;
  height: 100%;
}
.hero-pizza-img img {
  width: 100%;
  height: 100%;
}
.combined-item {
  display: inline-flex;
  align-items: center;
}

.text-slider {
  overflow: hidden;
}
.text-slider .splide__slide {
  width: 500px !important;
}
.combined {
  white-space: nowrap;
  text-transform: uppercase;
  -webkit-text-stroke: 1px var(--black);
  color: var(--white);
  text-shadow: 2px 2px 0 #000;
}

.star-slide {
  width: 60px;
}
.text-slider .splide__track {
  overflow: visible;
}
.text-slider-main:hover {
  pointer-events: none;
}

/* food-card-sec */
.food-card-sec {
  background-color: var(--bg-color);
}
.card-sec-title {
  margin-bottom: 40px;
}
.food-card-title {
  line-height: 0.77;
  color: var(--black);
  text-transform: uppercase;
}
.card-menu {
  background-image: url(../images/catagory-card-shape.jpg);
  background-size: cover;
  display: flex;
  background-color: var(--white);
  z-index: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.card-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--security);
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
.card-menu:hover::after {
  opacity: 0.7;
}
.card-food {
  position: relative;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 3;
}
.card-decor-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(64px) translateX(-47px);
}
.food-card-img {
  margin-bottom: 48px;
}
.card-decor-bottom {
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: 20%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: rotate(-24deg) translateX(88px);
}
.card-menu:hover .card-decor-bottom {
  transform: translateX(0px);
  opacity: 1;
}
.card-menu:hover .card-decor-right {
  transform: translateY(21px) translateX(0px);
  opacity: 1;
}
.food-card-name {
  text-align: center;
  color: var(--black);
  margin-bottom: 10px;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.card-menu:hover .food-card-name {
  color: var(--white);
}

.products-number {
  color: var(--white);
  z-index: 2;
  font-weight: 600;
  opacity: 0;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
.card-menu:hover .products-number {
  opacity: 1;
}
.food-card-praise {
  z-index: 2;
  text-align: center;
  color: var(--primary);
}
.food-card-sec .splide__arrows {
  position: absolute;
  top: -14%;
  right: 10%;
}
.food-card-sec .splide__arrow {
  background-color: var(--primary);
  width: 60px;
  height: 60px;
}
.card-menu-slide .splide__arrow--prev img,
.card-menu-slide .splide__arrow--next img {
  width: 100%;
  height: 50%;
}
.food-card-sec .card-menu-slide .splide__arrow svg {
  color: var(--black);
  fill: none;
  height: 40px;
}

.two-col-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.two-col-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.two-col-subtitle {
  margin-bottom: 20px;
}
.iconic-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.iconic-box {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 30px 20px;
}
.food-icon {
  height: 50px;
}
.food-icon img {
  width: 100%;
  height: 100%;
}
.two-col-img img {
  width: 100%;
  height: 100%;
  max-width: 500px;
}

/* .testimonials-section */
.testimonials-section {
  background-color: var(--black);
}
.title-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.testimonial-title {
  color: var(--white);
  text-transform: uppercase;
}
.testimonial-title {
  max-width: 800px;
}

.testimonial-slide {
  margin-top: 50px;
}

.testimonial-card {
  border-radius: 10px;
  background-color: var(--white);
  padding: 35px 40px;
}
.quote-alt {
  width: 80px;
  margin-bottom: 20px;
  color: var(--primary);
}
.quote-alt img {
  width: 100%;
  height: 100%;
}

.testimonial-review {
  margin-bottom: 30px;
}
.testimonial-review p {
  color: var(--black);
}
.author-div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 34px;
  border-top: 1px solid var(--p);
}
.author-name {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.author-job {
  color: var(--p);
}

/* .blog-card-sec */
.blog-card-sec {
  background-color: var(--bg-color);
}
.blog-card {
  border-radius: 10px;
  overflow: hidden;
}
.blog-title {
  text-transform: uppercase;
}
.blog-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 60px;
}
.blog-img {
  display: flex;
}
.blog-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog-item {
  background-color: var(--white);
  padding: 25px 25px 20px;
}

.post-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.post-related {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  gap: 5px;
  font-weight: 600;
  color: var(--black);
  align-items: center;
  white-space: nowrap;
}

.post-related svg {
  width: 24px;
}

.blog-card-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

.blog-subtaitle {
  margin-bottom: 20px;
}

.contact-from-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/*contact-section */
.contact-section{
  padding-top: 130px;
  background-image: url(./../images/main-bg-contact.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-title{
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}
.call-details{
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.call-icon{
  color: var(--black);
  background-color: var(--security);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
}
.call-icon svg{
width: 30px;
}
.call-item-1{
  color: var(--white);
  font-weight: 500;
  margin-bottom: 5px;
}
.call-item-2{
  color: var(--primary);
  font-weight: 600;
}
.contact-from-box{
    background-image: url(../images/booking-shape.png);
    background-size: cover;
    background-repeat: no-repeat;
  background-color: var(--primary);
  padding: 54px;
  border-radius: 10px;
}
.form-title{
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 30px;
}
.input-icon-box{
position: relative;
}
.contact-svg{
  position: absolute;
top: 30%;
right:2% ;
}
.contact-svg svg{
width: 26px;
color: var(--white);
}
.contact-from-input{
  border: 1px solid var(--white);
  background-color: transparent;
  width: 100%;
  /* appearance: none; */
  font-family: inherit;
  font-size: 18px;
  color: var(--white);
  padding: 18px 34px 18px 30px;
  border-radius: 10px;
}
.contact-from-box .input-icon-box:not(:last-child){
  margin-bottom: 30px;
}
.contact-from-input:focus-visible{
  outline: none;
}
.contact-from-input::placeholder{
  color: white;
}
option{
  color: var(--black);
}
.contact-btn{
 width: 100%;
justify-content: center;
border: transparent;
}

/* cta-section */
.cta-sec{
  background-color: var(--bg-color);
}
.cta-item{
  background-color: var(--primary);
  background-image: url(../images/catagory-card-shape.jpg);
  padding: 120px 100px;
  border-radius: 30px;
  position: relative;
  margin-bottom: -50px;
}
.cta-sec .title-sec{
  font-weight: 600;
}
.cta-title{
color: var(--white);
max-width: 50%;
text-transform: uppercase;
margin-bottom: 30px;
}
.cta-title span{
  color: var(--black);
}

/* footer */
footer{
  background-color: var(--bg-color);
}
.footer-grid{
  display: grid;
  grid-template-columns: repeat(7 ,1fr);
  padding: 100px 0;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}